{% extends 'base.html.twig' %}

{% block title %}Calculator Task - Mr & Mrs Smith{% endblock %}

{% block body %}
<div class="main-wrapper">
    <h1>Calculator Task - Mr & Mrs Smith</h1>
    <h2><a href="{{ path('calc') }}">Open Calculator page</a></h2>
</div>
{% endblock %}
